body {
    background-color: dimgray;
    display: inline-block;
}

.divLogo {
    border: 0;
    margin: 0;
    padding: 0;  
    margin-top: 0;  
    max-width: 90%;
}

.ledLogo {
    border: 0;
    margin: 0;
    padding: 0;    
    max-width: 10%;
    height: auto;
    display: inline-block;
}

.logo {
    border: 0;
    margin: 0;
    padding: 0;    
    max-width: 10%;
    height: auto;
    display: inline-block;
}
.content {
    background-color: blueviolet;
}

.endPage {
    background-color: burlywood;    
}

body section .leftColumn {
    background-color: aquamarine;
    float: left;
    font-size: 1.5em;
}

body section .rightColumn {
    background-color: aqua;
    float: right;
    font-size: 1.5em;
}

.topUl {
    display: inline;
}

.topHeader {
    text-align: center;
}

