*{
    padding: 0;/*Interno*/
    margin: 0; /*Externo*/
}

body {
    background-color: dimgray;
    padding: 1em;
    margin: 1em;
}

.divLogo {  
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

.ledLogo {    
    width: 7em;
}

.logo {    
    height: auto;
    width: 13em;
}
body .content {
    background-color: gray;
    height: 50vh;
    padding: 1em;
    border-radius: 1em;
}

body .endPage {
    background-color: burlywood;    
    clear: both;
    padding: 2em;
    border-radius: 1em
}

body section .leftColumn {
    background-color: aquamarine;
    float: left;
    width: 25vw;
    height: auto;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

body section .rightColumn {
    background-color: aqua;
    float: right;
    width: 25vw;
    height: auto;
    padding: 1em;
    margin: 1em;
    border-radius: 1em
}

body header nav ul li {
    display: inline;
    padding: 3em;
    margin: 3em;
    margin-top: 0;
    padding-top: 0;
}

body header nav {
    padding: 1em;
    margin: 1em;
    margin-top: 0;
    padding-top: 1em;
    background-color: deeppink;
    border-radius: 0.6em;
}

.topHeader {
    text-align: center;
}

header div h1 {
    margin: 1em;
    padding: 1em;
    margin-top: 0;
    padding-top: 0;
}
