*{
    padding:0;
    margin: 0;
}

body {
    background-color: rgb(85, 84, 84);
}

footer {
    background-color: rgb(155, 131, 99);    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
}

footer p {
    margin-bottom: 1em;
}
h2 {
    color: #063954;
    margin-bottom: 1em;
}

header{
    text-align: center;
}

a{
    color: #156088;
    background-color: rgb(155, 131, 99);    
    padding: 0.5em;
    border-radius: 1em;
    margin: 4vw;
}

a:link{
    text-decoration: none;
}

a:hover{
    color: white;
    background-color: rgba(232, 211, 183, 0.71);
}


.divLogo {  
    text-align: center; 
}

.ledLogo {    
   width: 6em;
}

.logo {  
    height: auto;
    width: 9em;
}

 
 #links {
    outline: 0.2em solid gray;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

 #info {
    outline: 0.2em solid gray;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

body header nav {
    height: auto;
    padding: 1em;
    margin: 1em;
    outline: 0.2em solid gray;
    border-radius: 1em;
}


body header nav ul li {
    display: inline;
    padding-left: 3em;
    margin-left: 3em;
    padding-right: 3em;
    margin-right: 3em;
    margin-bottom: 1.1em;
    margin-top: 1.1em;
    display: contents;
}

.content{
    margin-top: 25px;
    text-align: center;
    height: 10vw;
    padding-bottom: 1em;
}

.information {
    outline: 0.2em solid gray;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}


@media (min-width: 640px) { 
    .content{
        margin-top: 25px;
        display: grid ;
        grid-template-columns: 25vw 50vw 25vw;
        text-align: center;
    }

    .ledLogo {    
        width: 13em;
     }
     
    .logo {  
        height: auto;
        width: 15em;
    }
}
 
